
body {
    height: 100%;
    width: 100%;
    background-color: #FAF7EF;
    font-family: Arial;
    color: #575555;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
}

#pin {
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: .14rem;
    outline: none;
    margin-right: 0.25rem;
    cursor: pointer;
}

.locationTitle {
    font-size: 2.25rem;
    margin-top: 1.5rem;
}

.temperature {
    margin-top: 1.5rem;
    font-size: 4.5rem;
    margin-bottom: 15px;
}

.weather {
    font-size: 20px;
}

.weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 425.5px;
    background-color: #e6e7eb;
    border-radius: 0.75rem;
    border: solid #827f7f;
    box-shadow: 0 0 15px 4px rgb(0 0 0 / 15%);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 55px;
    margin-bottom: 15px;
}

/*to contain [left column] | [right column] */
.dashboard {
    background-color: #cfcfcf;
    width: 20rem;
    height: 111px;
    border-radius: 0 0 0.75rem 0.75rem;
    border-top: solid #827f7f;
    display: flex;
}

.dashLeft {
    display: flex;
    flex-direction: row;
    width: 9rem;
    font-size: 30px;
    margin-left: 11.5px;
    margin-top: 22px;
}

.dashRight {
    display: flex;
    flex-direction: row;
    width: 14rem;
    font-size: 22px;
    margin-left: 12px;
    margin-top: 16.5px;
    margin-bottom: 18px;
    border-left: solid #827f7f;
    padding-left: 7px;
}

img {
    margin-top: 0.05rem;
    height: 100px;
    width: 100px;
}

#searchText {
    font-size: 1.5rem;
    width: 160px;
    outline: none;
    border: 2.5px solid #827f7f;
    border-radius: 5px;
    color: #575555;
}

#search {
    width: 40px;
    background-color: #d3d6e3;
    border: 2.5px solid #827f7f;
    border-radius: 0.35rem;
    font-weight: normal;
    color: #575555;
    font-size: 1.3rem;
    padding-top: .14rem;
    padding-bottom: .1rem;
    outline: none;
    cursor: pointer;
}

#search:hover {
    background-color: #caccd9;
    outline: none;
}

#search:active {
    background-color: #bbbdc9;
    outline: none;
}

